#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_install:
	mv src_pkg/dkms_postinst src_pkg/postinst
	dh_install src usr/src/tuxedo-keyboard-$(DEB_VERSION_UPSTREAM)/
	dh_install Makefile usr/src/tuxedo-keyboard-$(DEB_VERSION_UPSTREAM)/
	dh_install dkms.conf usr/src/tuxedo-keyboard-$(DEB_VERSION_UPSTREAM)/
	mv src_pkg/postinst src_pkg/dkms_postinst

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean:
