#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_install:
	#mv src_pkg/dkms_postinst src_pkg/postinst
	dh_install src usr/src/tuxedo-drivers-$(DEB_VERSION_UPSTREAM)/
	dh_install Makefile usr/src/tuxedo-drivers-$(DEB_VERSION_UPSTREAM)/
	dh_install Kbuild usr/src/tuxedo-drivers-$(DEB_VERSION_UPSTREAM)/
	dh_install dkms.conf usr/src/tuxedo-drivers-$(DEB_VERSION_UPSTREAM)/
	dh_install files/usr /
	#mv src_pkg/postinst src_pkg/dkms_postinst

# This is present in tuxedo-drivers, but is probably not required for
# kfocus-keyboard.
# override_dh_dkms:
#	dh_dkms -V

override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:
override_dh_auto_install:
override_dh_auto_clean:
